doctype html
html(lang='en')
    head
        block head 
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    body 
    //- h1= tour 
    //- h2= user.toUpperCase()

    //- - const w = 10
    //- h2= 3*w
    //- p This is some text
    // Header
    include _header

    // Main
    //- main.main 
    //-     h1= tour

    // Content
    block content 
        h1 This is a placeholder heading

    // Footer
    include _footer

    //- script(script-src-elem='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='/js/bundled/index.js')




